.firstContainer{
    margin-top: 1%;
    background-color: #62626e;
    padding: 20px;
    height: 300px;
    background-color: #023E8A;
}

.pageHeading{
    color: #fff;
    font-size: 50px;
    display: flex;
    align-items: center;
    margin-left: 6%;
    height: 100%;
}