/* #023E8A(primary color), #D4DEFB(secondary button), #FFFFFF(background button text), #333333(text icon) */


.container{
    margin-top: 90px;
}

.empForm{
    border: 2px solid #023E8A !important;
    border-radius: 20px !important;
    background-color: #ffffff;
    width: 500px;
    margin: auto;
}

.empFormField{
    background-color: #D4DEFB !important;
    margin-bottom: 35px;
}

.Btn{
    width: 40px;
    height: 40px;
    background-color: #023E8A;
    border-radius: 50%;
    color: #ffffff;
    font-size: 23px;
    padding: 0;
    border: 2px solid #023E8A;
}

.Btn:hover{
    border: 2px solid #023E8A;
    color: #023E8A;
}