
.container {
    border: 2px solid #023E8A;
    border-radius: 10px;
    display: flex;
    width: 70%;
    margin-top: 1%;
    margin-left: 13%;

}

.left {
    background-color: #023E8A;
    border-radius: 7px;
    padding: 5%;
}

.right {
    margin: auto;
}

.imageDiv {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    color: #ffffff;
    background-image: url('../assests/img-tab.png');
    background-size: cover;
    background-position: center;
    margin: 20px 0 ;
}


.heading {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.learnText {
    color: #ffffff;
    text-align: center;
}

.formContainer {
    border: 2px solid #023E8A;
    border-radius: 10px;
    padding: 20px;
    margin: 40px 50px;
    background-color: #ffffff;
    width: 80%;
    text-align: center;
}

.formHeading {
    margin-bottom: 20px;
}

.inputField {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: #D4DEFB;
    border-radius: 5px;
    margin-bottom: 30px;
}

.forgotPassword {
    text-align: right;
    color: #023E8A;
}

.loginButton {
    background-color: #023E8A;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #023E8A;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    width: 120px;
}


.loginButton:hover{
    background-color: #FFFFFF;
    color: #023E8A;
}