.container {
  margin-top: 1%;
  width: 99%;
  max-width: 100%;
 
  /* overflow-x: hidden; */
}


.firstRowCol {
  background-color: #023e8a;
  color: #ffffff;
  height: 100%;
  padding: 5%;
  text-align: center;
}

.youDemand {
  text-align: right;
  margin-top: 2%;
  margin-right: 15%;
}
/* .icon1{
  color: "#0000FF";
  margin: "15px";
  font-size: "40px";
} */

.sliderRow{
  margin-top: 1%;
  width: 99%;
  max-width: 100%;
}

.productImage{
 
  /* width: 100%;
  margin-right: 0px; */
}

.secondRowCol {
  background-color: #bbcfe4;
  height: 100%;
  padding: 2%;
}

.secondRowColCertificate {
  width:310px;
  height: 250px;
  background-color: #FFFFFF;
  padding: 15px;
}

.thirdRowCol {
  padding: 1%;
  height: 100%;
  background-color: #ffffff;
  color: #ffffff;
}

.thirdRowColProduct {
  width: 200px;
  height: 200px;
  background-color: #d4defb;
}

.fourthRow {
  background-color: #023e8a;
  padding: 3%;
}
.fourthRowColmiddle {
  padding: 3%;
  border: #023e8a 2px solid;
  border-radius: 10%;
  background-color: #fff;
}
.inquireinput .form-control {
  background-color: #d4defb !important;
}

.btn-primary {
  background-color: #023e8a !important;
  color: #ffffff; /* Text color */
  padding: 10px 20px;
}
