.container {
  margin-top: 1%;
  width: 99%;
  max-width: 100%;
 
  /* overflow-x: hidden; */
}


.firstRowCol {
  background-color: #023e8a;
  color: #ffffff;
  height: 100%;
  padding: 5%;
  text-align: center;
}

.youDemand {
  text-align: right;
  margin-top: 2%;
  margin-right: 15%;
}
/* .icon1{
  color: "#0000FF";
  margin: "15px";
  font-size: "40px";
} */

.sliderRow{
  margin-top: 1%;
  width: 101%;
  padding: 2%;
}

.productImage{
  margin: auto;
  width: 80%;
  height: 200px;
  border: 3px solid #023e8a;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 10%;
}

.productName{
  font-weight: 500;
  font-size: 20px;
  color: black;
}


.secondRowCol {
  height: 100%;
  padding: 2%;
}

.secondRowColCertificate {
  width:310px;
  height: 250px;
  background-color: #FFFFFF;
  padding: 15px;
  border: 3px solid #023e8a;
  border-radius: 10px;
}

.thirdRowCol {
  padding: 1%;
  height: 100%;
  background-color: #ffffff;
  color: #ffffff;
}

.thirdRowColProduct {
  width: 200px;
  height: 200px;
  background-color: #d4defb;
}

.fourthRow {
  background-color: #023e8a;
  padding: 3%;
}
.fourthRowColmiddle {
  padding: 3%;
  border: #023e8a 2px solid;
  border-radius: 7%;
  background-color: #fff;
}
.inquireinput .form-control {
  background-color: #d4defb !important;
}

.btn-primary {
  background-color: #023e8a !important;
  color: #ffffff; /* Text color */
  padding: 10px 20px;
}


.submitBtn{
  background-color: #023e8a;
  color: #FFFFFF;
  border: 2px solid #023e8a;
  font-weight: 500;
}

.submitBtn:hover{
  background-color: #d4defb;
  border: 2px solid #023e8a;

}

.inputFields{
  border-radius: 7px;
  background-color: #d4defb;

}

