
.navbar {
    background-color: #023e8a;

  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logoContainer {
    width: 110px;
    height: 50px;
    background-color: #ffffff; 
    margin-right: 10px;
  }
  
  .logo {
    width: 100%;
    height: 100%;
    background-color: #ffffff; 
  }
  
  .brand {
    color: #ffffff !important; 
  }

  .brand:hover{
    color: #ffffff;
  }
  
  .addButton {
    background-color: #023e8a;
    color: #ffffff; 
    border: 2px solid #ffffff;
  }

  .addButton:hover{
    background-color: #ffffff;
  }
  

  .loginButton{
    background-color: #023e8a;
    color: #ffffff; 
    border: 2px solid #ffffff;
  }

