/* #023E8A(primary color), #D4DEFB(secondary button), #FFFFFF(background button text), #333333(text icon) */

.mainContainer {
  /* border: 2px solid goldenrod; */
  padding: 0;
  width: 85%;
  height: auto;
}

.sideBar {
  border: 2px solid #023e8a;
  width: 170px;
  margin: auto;
  float: right;
  margin-top: 1.8%;
  border-radius: 10px;
  margin-left: 20px;
  padding: 10px;
  background-color: #ffffff;
}

.tableHeading {
  background-color: #023e8a !important;
  color: #ffffff !important;
}

.tableRow {
  background-color: #ffffff !important;
}

.Btn {
  width: 40px;
  height: 40px;
  font-size: 25px;
  padding: 0px;
  color: #023e8a !important;
  font-weight: bold;
}

.Btn:hover {
  border: 1px solid #023e8a;
}

.addButton {
  background-color: #023e8a;
  color: #ffffff;
  border: 2px solid #023e8a;
  margin-bottom: 10px;
  font-weight: 500;
  width: 100%;
}

.addButton:hover {
  border: 2px solid #023e8a;
  background-color: #ffffff;
  color: #023e8a;
  font-weight: 500;
}



.unitCount{
  display: flex;
  align-items: center;
}


.incDecButton{
  border: 1px solid black;
  background-color: #D4DEFB;
  text-align: center;
  width: 40px;
  font-size: 24px;
  font-weight: 500;
  padding: 0;
  color: black;
}

.incDecButton:hover{
  border: 1px solid black;
  background-color: #9eb0e5;
}

.unitsInput{
  margin: 0 10px;
  border: 1px solid black;
  text-align: center;
}